extends template
  
block content
  .container
  .row.clearfix
    .column.half
      h1 Copycat
      form(action="/copy", method="post")
        input(type="text", name="url", placeholder="enter url here")
        button(type="submit") Screenshot!
