doctype html
html(lang="en")
  head
    title copycat screenshots
  body
    h1 Copycat
    form(action="/copy", method="post")
      input(type="text", name="url", placeholder="enter url here")
      button(type="submit") Screenshot!
